<div class="card border border-danger " style="width: 18rem;">
    <div class="card border border-danger" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-md-6">Intern</h5>
            <div class="card-title col-md-6">
              <img src="favicon.ico">
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-primary">{{rahul.first_name}} {{rahul.last_name}}</h6>
        <p>mail:- {{rahul.email}}</p>
        <p class="card-text text-danger">Java internships can be valuable learning opportunities for students and recent
            graduates to sharpen their Java skills, understand industry best practices,
            and potentially secure full-time positions within the company after the internship period.</p>
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
    </div>
</div>
